.dask {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  padding: 0 20px;

  :global {
    .header {
      align-items: center;
      color: #fff;
      display: flex;
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 10px;
      padding: 0 5px;
    }
    .text {
      margin-left: 10px;
    }
    .icon-homefill:before {
      font-size: 25px;
    }
    .styleFooter {
      width: 100%;
      align-items: center;
      position: relative;
      background: #eeeff3;
      border-radius: 3px;
      padding: 12px 10px;
      bottom: 60px;
    }
    .icon-home:before {
      content: '\e821';
      font-size: 25px;
    }
    .styleInput {
      background: none;
      border: none;
      flex: 1 1;
      font-size: 14px;
      margin-left: 10px;
      outline: none;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
