@font-face {
  font-family: 'iconfont'; /* Project id 3503589 */
  src: url('iconfont.woff2?t=1658410142017') format('woff2'), url('iconfont.woff?t=1658410142017') format('woff'),
    url('iconfont.ttf?t=1658410142017') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiugaimima:before {
  content: '\e61e';
  font-size: 23px;
}

.icon-home:before {
  content: '\e821';
  font-size: 23px;
}

.icon-shoucang2:before {
  content: '\e666';
  font-size: 23px;
}

.icon-shoucang:before {
  content: '\e600';
  font-size: 23px;
}

.icon-wancheng:before {
  content: '\e66e';
  font-size: 23px;
}

.icon-xingzhuang-tuoyuanxing:before {
  content: '\eb99';
  font-size: 23px;
}

.icon-caidan:before {
  content: '\eaf1';
  font-size: 23px;
  color: #fff;
}

.icon-jiahao:before {
  content: '\eaf3';
}

.icon-kong:before {
  content: '\e708';
  content: '\e708';
  font-size: 45px;
  position: relative;
  color: #fff;
  align-items: center;
  top: 40%;
  left: 43%;
}

.icon-shoucang1:before {
  content: '\e8c6';
  font-size: 23px;
}

.icon-homefill:before {
  content: '\e6bb';
}
.icon-xiugaimima1:before {
  content: '\e67b';
  font-size: 23px;
}
