.menu {
  :global {
    .header {
      padding-top: 10px;
      margin-left: 5px;
    }
    .header button {
      border: none;
      background-color: #788cde;
      color: #fff;
      padding-top: 4px;
      margin-left: 17px;
    }
    .menuButton {
      margin-top: 17px;
      margin-left: 19px;
      font-size: 20px;
      background-color: #fff;
      border: none;
      color: #333;
    }
    .icon-home:before {
      font-size: 17px;
    }
    .list-one {
      margin-left: 10px;
      margin-top: 17px;
      font-size: 15px;
      margin-right: 10px;
      a {
        color: #333;
        align-items: center;
        border-radius: 3px;
        display: flex;
        padding: 10px;
        background-color: #fff;
      }
      .active {
        color: #788cde;
        background-color: #e8e8e8;
      }
      span {
        margin-left: 8px;
      }
    }
    .styleMenuYes {
      visibility: hidden;
      width: 60%;
      height: 100%;
      position: absolute;
      left: 0;
      background-color: #fff;
      color: #333;
      font-size: 16px;
      overflow: hidden;
      transition: all 0.2s ease-in-out;
      transform: translateX(-100%);
      z-index: 2;
    }
    .styleMenuNo {
      width: 60%;
      height: 100%;
      position: absolute;
      left: 0;
      background-color: #fff;
      color: #333;
      font-size: 16px;
      overflow: hidden;
      transition: all 0.2s ease-in-out;
      transform: translateX(0);
      z-index: 2;
    }
    .styleCoverYes {
      display: none;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      background-color: black;
      opacity: 0.5;
      transition: all 0.2s ease-in-out;
      z-index: 1;
      transform: translateX(-100%);
    }
    .styleCoverNo {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      background-color: black;
      opacity: 0.5;
      transition: all 0.2s ease-in-out;
      z-index: 1;
      transform: translateX(0);
    }
  }
}
