.login {
  padding-top: 50px;
  height: 100vh;
  background-color: rgb(246, 236, 236);
  :global {
    .title {
      text-align: center;
      border-bottom: var(--border-inner);
      margin: 15px 15px 0 15px;
    }
    footer {
      display: flex;
      flex: 1;
      justify-content: space-around;
      margin-top: 30px;
      margin-bottom: 30px;
    }
    .adm-list-body-inner {
      margin-top: -1px;
      margin: 40px 20px;
    }
    .adm-list-item-content {
      border-bottom: var(--border-inner);
      border-top: 0;
    }
    .adm-list-body {
      margin: 0 20px;
      background-color: #fff;
    }
  }
  .main_title {
    font-size: 40px;
    text-align: center;
    margin-left: 98px;
    margin-bottom: 53px;
    padding-top: 45px;
  }
}
