.finish {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  padding: 0 20px;

  :global {
    .header {
      align-items: center;
      color: #fff;
      display: flex;
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 10px;
      padding: 0 5px;
    }
    .text {
      margin-left: 10px;
    }
    .icon-wancheng:before {
      font-size: 25px;
    }
  }
}
